.audited-timeline-list .audited-timeline-wrapper:first-child {
  margin-top: 0;
}

.audited-timeline-wrapper {
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;
  padding: 2px 0px 2px;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  .avatar {
    float: left;
    margin-left: -64px;
    border-radius: $base-border-radius;
  }

  .with-avatars {
    padding-left: 64px;
  }
}

.audited-timeline-wrapper .with-avatars .audited-timeline-item {
  position: relative;

  &:before, &:after {
    border-color: transparent;
    border-style: solid solid outset;
    content: ' ';
    display: block;
    height: 0;
    left: -16px;
    position: absolute;
    right: 100%;
    top: 11px;
    width: 0;
  }

  &:before {
    border-right-color: $base-border-color;
    border-width: 8px;
  }

  &:after {
    border-right-color: #f2f8fa;
    border-width: 7px;
    margin-left: 2px;
    margin-top: 1px;
  }
}

.audited-timeline-item {
  border: $base-border;
  border-radius: $base-border-radius;

  &:hover .audited-timeline-header .audited-timeline-actions {
    visibility: visible;
  }
}

.audited-timeline-header {
  background-color: lighten($light-gray, 15%);
  border-bottom: 1px solid #eee;
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
  padding: $base-spacing/3 $base-spacing/1.5;

  .audited-timeline-user {
    font-weight: bold;
    margin-right: 0.5em;
  }

  .audited-timeline-date {
    color: $dark-gray;
    font-size: 0.8em;
  }

  .audited-timeline-actions {
    float: right;
    visibility: hidden;
    a { color: $light-gray; }
    a:hover { color: $blue; }
  }
}

.audited-timeline-body {
  background: #fff;
  padding: $base-spacing/1.5;

  p {
    margin-bottom: 0;
  }

  form.simple_form {
    float: none;
    margin: 0;
    width: 100%;
  }

  table {
    margin: 0;

    th {
      padding: 0 0 .25em;
    }

    th:first-child {
      width: 12em;
    }

    td {
      font-size: .9em;
      padding: .25em 0;
    }

    tr:last-child td {
      border-bottom: 0;
    }

    tr th:first-child,
    tr td:first-child {
      white-space: nowrap;
    }
  }

  h1 {
    font-size: 1.2em;
    height: auto !important;
    margin: 0 0 .5em;
    padding: 0;
  }
}
