$green: #27AE60 !default;
$red: #E74C3C !default;
$blue: #009ad7 !default;
$light-gray: #CDCFCE !default;
$dark-gray: #333 !default;

$base-line-height: 1.5 !default;
$base-spacing: $base-line-height * 1em !default;

$base-border-color: $light-gray !default;
$base-border: 1px solid $base-border-color !default;
$base-border-radius: 3px !default;
